## Question 1.
1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+	
6

#### Answers:

'hello' is string

87.8 is float type

/ is a mathematical operation. It is used for division. It gives output in float as well as integer.

6 is an integer.

## Question 2.

What is the difference between string and variable?

#### Answer:
#### Strings
1. Strings exists within either single quotes or in double quotes. It can not be used for calculation.
2. It holds characters.
3. We can concatenate two strings.

#### Variables
1. Variables are used to represent numerical data. We can do calculations and mathematical operations such as addition, multiplication, division.
2. It holds value that can change.
3. we cant concatenate two variables. Unless the variables kept in string.

## Question 3.
Describe three different data types ?

#### Answer:
The three different data types are.
1. Numerical data type.
Numeric values are represented in numeric data type. Numerical data types can be of integer, float or complex numbers. These values are represented as int, float, complex. Integers are represented by int class. It contains positive or negative whole numbers. Decimal values are represented by float. It is specified by a decimal point. Complex numbers are represented as complex. It consists of two part. real and imaginary.


2. Sequence data type.
Sequence data types such as list, tuple. Lists have collection of datas separated by commas. They are represented in square bracket. i.e [ ]. It is flexible as the items inside the lists can be of any data type. Lists are mutable. They can be modified. Tuples are similar to lists. They are represented in close bracket. i.e. ( ). Tuples are immutable. Tuples once created can not be modified.


3. String data type.
String data type is represented as str. Strings are arrays of bytes representing unicode characters.

## Question 4.
What is an expression made up of? What do all expressions do?

#### Answer:
Expression are combination of operators and operands. If there are more than one operator in an expression, their precedence decides which operation will be performed first.

Expression are representations of value. They are different from statements. Expression contains identifiers, literals and operators. Any name that is used to define a class, function, variable module, or object is an identifier. Literals are language-independent terms and should exist independently. There are the string literals, byte literals, integer literals, floating point literals, and imaginary literals. Operators can implement the following operations using the corresponding tokens.

## Question 5.
This assignment statements, like spam = 10. What is the difference between an expression and a statement?

#### Answer:
An expression is a combination of values, variables, and operators.When we type an expression at the prompt, the interpreter evaluates it, which means that it finds the value of the expression. eg: 7*3+80-30 is an example of a statement

A statement is a unit of code that has an effect, like creating a variable or displaying a value.When we type a statement, the interpreter executes it, which means that it does whatever the statement says. In general, statements donâ€™t have values. eg: variable declaration and assignment are statements because they do not return a value

## Question 6.
After running the following code, what does the variable bacon contain?

bacon = 22

bacon + 1

#### Answer:

In [1]:
bacon = 22
bacon = bacon + 1
print(bacon)

23

Variable bacon is assigned as 22. In next line it is updated for increment by 1. Thats why we are getting result as 23

In [3]:
bacon = 22
bacon + 1
print(bacon)

22

Variable bacon is assigned as 22. It is not updated in next line. So we are getting the result 22.

## Question 7.
What should the values of the following two terms be?

'spam' + 'spamspam'

'spam' * 3

#### Answer:
In first expression, its addition of two strings. i.e. String Concatenation.

In [4]:
'spam' + 'spamspam'

'spamspamspam'

In Second expression we are multiplying to get the expression three times. i.e. String Multiplication

In [5]:
'spam' * 3

'spamspamspam'

## Question 8.
Why is eggs a valid variable name while 100 is invalid?

#### Answer:
eggs is a variable name because variable name must start with a letter or the underscore character. A variable name cannot start with a number. Thats why eggs is a valid variable name as 100 is invalid.

In [9]:
eggs = 100

In [10]:
100 = 50

SyntaxError: cannot assign to literal (922978670.py, line 1)

## Question 9.
What three functions can be used to get the integer, floating-point number, or string version of a value?

#### Answer:

int() is used to get integer.
float() is used to get floating-point number.
str() is used to ger string version of a value.

In [11]:
print(int(50))
print(float(50.55))
print(str(100))

50
50.55
100

## Question 10.
Why does this expression cause an error? How can you fix it?

'I have eaten ' + 99 + ' burritos.'

#### Answer:

In [12]:
'i have eaten' + 99 + 'burritos'

TypeError: can only concatenate str (not "int") to str

We cannot add a integer type to string. for that we have to convert that integer into string type. So here 99 is not a string. we have to do typecasting to fix this error.

In [15]:
'i have eaten ' + str(99) + ' burritos'

'i have eaten 99 burritos'